@page 
@model Bank.Client.ViewModels.AccountDispositionModel

@{

}


<form method="post"> 
     <label asp-for="AccountTypesId">Choose an AccountType:</label>

     <select asp-items="ViewBag.Accounts" asp-for="AccountTypesId"></select>

    <button type="submit" asp-controller="Admin" asp-action="CreateAccount">Create</button>
</form>