@page "/"
@{
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="flex-column">
        <h1>Nacka Banken</h1>
    </div>
    <div class="flex-column">
        <a class="text-decoration-none" asp-page="/Login">login</a>
    </div>
</div>