@model Bank.Client.ViewModels.TransactionModel
@{

}

<form method="post">

    <label asp-for="AccountId">AccountId :</label>
    <select asp-for="AccountId">
        @if (ViewBag.UAccounts != null)
        {
            foreach (var item in ViewBag.UAccounts)
            {
                <option value="@item.AccountId">@item.AccountId</option>
            }
        }
    </select>

    <br />

    <label asp-for="RecieverAccountId">ReceiverAccountId :</label>
    <input type="text" asp-for="RecieverAccountId" />
    <span asp-validation-for="RecieverAccountId"></span>

    <br />

    <label asp-for="Amount">Amount :</label>
    <input type="number" asp-for="Amount" />
    <span asp-validation-for="Amount"></span>    

    <button type="submit" asp-controller="User" asp-action="CreateTransaction">Complete transaction</button>
</form>