@model Bank.Client.ViewModels.TransactionModel
@{

}

<form method="post">
    @*<label asp-for="Gender">Male</label>
    <input type="radio" asp-for="Gender" value="male" />
    <span asp-validation-for="Gender"></span>*@

    <label asp-for="AccountId">AccountId</label>
    <input type="text" asp-for="AccountId" />
    <span asp-validation-for="AccountId"></span>

    <br />

    <label asp-for="RecieverAccountId">ReceiverAccountId</label>
    <input type="text" asp-for="RecieverAccountId" />
    <span asp-validation-for="RecieverAccountId"></span>

    <br />

    <label asp-for="Amount">AccountId</label>
    <input type="number" asp-for="Amount" />
    <span asp-validation-for="Amount"></span>    

    <button type="submit" asp-controller="User" asp-action="CreateTransaction">Complete transaction</button>
</form>